<div class="ui main container center aligned grid">
  <div class="column">
    <h1 class="ui header">
      To find similar sponsors, enter the link name of a meetup:
    </h1>
    <form class="ui form" action="sponsors" method="get">
      <div class="ui huge input">
        <input type="text" name="url_name" placeholder="SF-DevOps-for-Startups" required>
      </div>
      <button type="submit" value="Search" class="ui huge teal submit button">
        Search
      </button>
    </form>
    <h3 class="ui header">https://www.meetup.com/[ Link Name ]</h3>
  </div>
</div>

