<div class="ui center aligned footer container">
  <div class="ui section divider"></div>
  <p>If this was helpful, please consider supporting the DevOps for Startups meetup!</p>
  <form action="https://secure.meetup.com/SF-DevOps-for-Startups/contribute/" method="get">
    <button type="submit" class="ui large teal button">Donate Today</button>
  </form>
</div>